/* menu */
#menu {
    display:inline-block;
    position:static;
    background-color: rgb(136, 36, 32);
    width: 100%;
    height: 8%;
}
#nav-boton{
    border-radius: 15px;
    font-size: 80%;
    display:inline-block;
    color: rgb(255, 255, 255);
    background-color: rgb(165, 47, 42);
    width: 15%;
    height: 70%;
    position: relative;
    left: 20%;
    top: 14%;
    border-radius: 15px;
    margin: 0px;
    padding: 5px;
}
#boton-usuario{
    font-size: 80%;
    display:inline-block;
    color: rgb(255, 255, 255);
    background-color: rgb(20, 14, 14);
    width: 3%;
    height: 55%;
    position: relative;
    right: -47%;
    top: 15%;
    border-radius: 36px;
    margin-right: 10px;
    padding: 5px;

}

/* panel materia */

#Panel-materia{
    display: block;
    position: fixed;
    background-color: burlywood;
    width: 20%;
    height: 100%;
}
#materia{
    display:inline-block;
    margin-top:5px;
    margin-right: 1%;
    border-radius: 9%;
    width: 100%;
    height: 13%;
    background-color: azure;
}
#Foto-materia{
    display:inline-block;
    border-radius: 100%;
    position: relative;
    left: -2;
    width: 25%;
    height: 50%;
    margin: 10px;
}
#Titulo-Materia{
    font-size:larger;
    display:inline-block;
    position: relative;
    left: 38%;
    top: -39%;
    width: 80%;
    height: 30%;
}
#Materia-Atributo{
    width: 20%;
    height: 31%;
    border-radius:15px;
    background-color: antiquewhite;
    position:relative;
    display: inline-block;
    right: -10%;
    top: -32%;
}

/* panel contenido */
section{
    background-color: antiquewhite;
    width: 80%;
    height: 100%;
    position: fixed;
    left: 20%;
}
